body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px 100px;
    background-color: #ffffffbc;
}

/* phần titele */
#title {
    text-align: center;
    background-color: #b9653ead;
    color: rgba(232, 226, 226, 0.952);
    padding: 10px;
    border-radius: 20px;
    /* margin: 0px; */
}

/* thanh menu */
nav {
    overflow: hidden;
    background-color: black;
}

nav #menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav #menu li {
    float: left;
}

nav #menu li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 20px;
    border-right: 1px solid white;
}

nav #menu li a:hover {
    background-color: gray;
    color: black;
}

/* Phần thông tin */
/* Phần chia bố cục làm 2 */
#flex_container {
    display: flex;
    flex-wrap: nowrap;
}

#left_side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius:40px;
    margin-top: 20px;
}

#right_side{
    flex: 60%;
    background-color: #b9653ead;
    padding: 10px;
    border-radius: 40px;
    margin-top: 20px;
}

/* Bên trái */
#flex_container h2 {
    text-align: center;
    margin: 0;
    color: black;
}
#left_side li {
    color: black;
    text-indent: 5px;
    line-height: 30px;
}
/* bên phải */
#right_side h2 {
    padding: 10px
}
#right_side #hinh {
    display: block;
    text-align: center;
    
}
#right_side #hinh img {
    width: 50%; 
}

/* Phần trưng bày yến */
.background {
    background-color: #b9653ead;
    border-radius: 30px;
}
.background h2 {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    animation: change_color linear 2s infinite;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.frame {
    flex: 25%;
    text-align: center;
    
}
.one_frame {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 25px;
}

.frame_img {
    width: 96%;
}
.frame_title {
    color: red;
    padding: 10px;
}

.button_ib {
    background-color: #f1f1f1; /* Green */
    border: 2px solid black;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0px 20px 0px;
    /* animation: change_color_background linear 2s infinite; */

}
.button_ib a {
    text-decoration: none;
    color: black;
}

.button_ib:hover {
    background-color: #b9653ead;
    color: white;
}

/* Phần cách chế biến */
#processing #heder_processing {
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    /* animation: change_color_text linear 2s infinite; */
}
#processing {
    margin-top: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 25px;
    border: 3px solid #b9653ead;
}

#processing li {
    color: black;
    text-indent: 5px;
    line-height: 30px;
}

/* Phần liên hệ */
footer #Contact_Info {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid black;
    border-radius: 10px;
    /* animation: change_color_text linear 2s infinite; */
}
footer {
    background-color: #b9653ead;
    border-radius: 25px;
}
footer ul {
    list-style-type: none;
}
footer ul li {
    text-align: center;
    font-size: 20px;
    padding: 5px;
    color: white;
}

footer ul li a {
    text-decoration: none;
    color: black;
    animation: change_color_text linear 1.5s infinite;
}

/* Phần thay đổi size */
@media(max-width: 600px) {
    body {
        margin: 5px;
    }
    #flex_container{
        flex-wrap: wrap;
    }
    #left_side{
        flex: 100%;
        margin: 0px;
        border-radius: 20px;
        background-color: #f1f1f1be;
        border: 2px solid #b9653ead;
    }
    #left_side h2 {
        color: black;
    }
    #left_side li {
        color: black;
    }
    #right_side{
        flex: 100%;
        border-radius: 20px;
        border: 2px solid black;
        margin: 20px 0px;
    }
    .frame {
        flex: 50%;
    }
}
#backtop {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

#phone {
    width: 53px;
    height: 53px;
    background-color: white;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 80px;
    right: 20px;
    animation: change_color_border linear 6s infinite;
    cursor: pointer;
}
#phone a {
    color: green;
}
/* phần animation */

@keyframes change_color_text {
    0% {
        color: red;
    }
    50% {
        color: black;
    }
}
@keyframes change_color_border {
    0% {
        border-color: black;
    }
    20% {
        border-color: red;
    }
    40% {
        border-color: #a0a009a8;
    }
    60% {
        border-color: #023c68;
    } 
    80% {
        border-color: #900b7a;
    }     
} 
@keyframes change_color_background{
    0% {
        background-color: #b9653ead;
    }
    20% {
        background-color: #f1f1f1be;
    }    
}  
